/*
etc/*

!.gitignore
!index.html
!tags.json
!userconfig.org
!userconfig.el

!etc/
!docs/
!/etc/themes
!etc/banners
!/etc/banners/**
!/etc/screenshots/
!/etc/screenshots/**
!.config
!README.org
!README.html
