/*
etc/*

!.gitignore
!index.html
!tags.json
!config.org
!config.el
!core.org

!etc/
!docs/
!/etc/themes
!etc/banners
!/etc/banners/**
!/etc/screenshots/
!/etc/screenshots/**
!.config
!README.org
!README.html
